@import url(../../css/header.css);

.container {
    margin-top: 200px;
    position: relative;
    min-height: 100vh;
    padding-top: 90px;

}


.container .image_container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .image_container .image{
    height: 250px;
    width: 350px;
    border-radius: 10px;
    border: rgb(82, 54, 240)solid 6px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    opacity: 80%;
}

.container .image_container .image:hover{
    opacity: 100%;
    transition: all 0.3s ease 0s;
}

.container .image_container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    transition: all 0.3s ease 0s;
}


.container .image_container .image:hover img{
    transform: scale(1.03);
    transition: all 0.3s ease 0s;

}


.container .popup-image{
    position: fixed;
    top: 0; left: 0;
    background-color: rgb(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    top: 0; left: 0;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}


.container .popup-image span:hover{
    color: grey;
}

.container .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;

}

@media (max-width:768px){
    .container .popup-image{
        width: 95%;
    }
}