@import url(../../css/header.css);


 .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 10%;
    margin-top: 10%;
    min-height: 70vh;
    align-items: flex-start;
 }



 .icn_img {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    width: 100px;
    border-radius: 10px;
 }


.icn_img{
    transition: all 0.3s ease 0s;
}

 .icn_img:hover{
    background-color: rgb(82, 54, 240);
    cursor: pointer;
 }